
.header {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;

}

.navbar-brand {
    font-size: 22px;
    font-weight: bold;
}

.navbar * {
    color: #000 !important;

}

.navbar-text {
    
}

@media (min-width: 768px) {
    .navbar-text {
        margin-left: 20vw;
    }
}

@media (min-width: 992px) {
    .navbar-text {
        margin-left: 28vw;
    }

}