.task {
    background: #FAFAFA;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
}

.task-checkbox {
	padding-right: 10px;
}

.task-text:hover, .task-checkbox:hover input {
	cursor: pointer;
}