.add-button {
    padding: 8px;
    border-radius: 4px;
}

.add-button a {
    text-decoration: none;
}

.add-list-wrapper > .add-button {
    min-width: 200px;
    background: #1565C0;
}

.add-list-wrapper > .add-button:hover {
    background: #0D47A1;
}

.add-list-wrapper > .add-button a {
    color: white;
}

.list .add-button:hover {
    background: #BDBDBD;
}

.list .add-button a {
    color: black;
}

.board .add-form {
    align-self: flex-start;
}

.add-click, .cancel-button {
    background: #FFF;
    font-size: 1em;
    margin: .5em;
    padding: 8px;
    border-radius: 3px;
    font-family: 'Montserrat',sans-serif;
    font-weight: bold;
    width: auto;
    color: #000;
    cursor: pointer;
    width: 42%;
}

.task-input {
    width: 100%;
    border-radius: 3px;
}
