.lists {
    padding-left: 0;
}

.list-wrapper {
    background: #E0E0E0;
    padding: 8px;
    min-width: 200px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.day {
	margin: 10px;
}

.date-title {
    padding-left: 10px;
}